/****************************
 * Reset CSS
 *
 * Modified from Normalize.css to provide cross-browser consistency and a smart
 * default styling of HTML elements.
 *
 * @see http://git.io/normalize
*****************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
a:focus,
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
mark {
    background: #66c18c;
    color: #fff; display: inline-block; padding: 0 3px;
}
code,
kbd,
pre,
samp {
    font-size: 1em;
    -webkit-hyphens: none;
    -moz-hyphens:    none;
    -ms-hyphens:     none;
    hyphens:         none;
}
pre {
    color: #666;
    font-size: 1em;
    margin: 20px 0;
    overflow: auto;
    padding: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
blockquote,
q {
    -webkit-hyphens: none;
    -moz-hyphens:    none;
    -ms-hyphens:     none;
    hyphens:         none;
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}
blockquote {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    margin: 24px 40px;
}
blockquote blockquote {
    margin-right: 0;
}
blockquote cite,
blockquote small {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}
blockquote em,
blockquote i {
    font-style: normal;
    font-weight: 300;
}
blockquote strong,
blockquote b {
    font-weight: 400;
}
small {
    font-size: smaller;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0; display: block;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
    white-space: normal;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}
select {cursor: pointer;}
button,
input {
    line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    padding: 0; cursor: pointer;
}
input[type="checkbox"] + label {cursor: pointer;}
input[type="search"] {
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
del {
    color: #333;
}
ins {
    background: #fff9c0;
    text-decoration: none;
}
hr {
    background: #a6b2b4;
    border: 0;
    height: 1px;
    margin: 0 0 18px;
}
a {text-decoration:none;}

/****** Remove tap highlight & style default on iOS ******/
body.safari input, body.safari textarea, body.safari button, body.safari select, body.safari label, body.safari a {
    -webkit-tap-highlight-color: transparent; -webkit-appearance: none;
}



/* MY STYLE
   ========================================================================== */

  /* Global */
  html, body {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
  }
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'SourceSansPro', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    /* background-color: rgba(0,31,30,1); */
  }
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    word-break: break-word;
  }
  a, button {cursor: pointer; color:#ffffff; -webkit-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
  p a {text-decoration: none; color: #000000;}
  p a:hover {text-decoration: none; color: #BDBDBD; outline: 0;}
  
  /* Headings */
  h1,h2,h3,h4,h5,h6 {color: #000000; margin-bottom: 1.5rem; font-family: 'SourceSansPro', sans-serif; font-weight: 700; line-height: 1.25;}
  h1 {font-size: 40px;}
  h2 {font-size: 35px;}
  h3 {font-size: 30px;}
  h4 {font-size: 25px;}
  h5 {font-size: 20px;}
  h6 {font-size: 16px;}
  hr {height: 0; border-bottom: 1px solid #BDBDBD; background: none; margin-bottom: 1.5rem;}



/****************************
  * Predefined classes
****************************/
/* Text colors & fonts */
  .txt-color--black {color: #000000 !important;}
  .txt-color--white {color: #ffffff !important;}
  .txt-color--darkGrey {color: #333333 !important;}
  .txt-color--lightGrey {color: #BDBDBD !important;}
  .txt-color--aqua {color: #00BCD4 !important;}
  .txt-color--blue {color: #2196F3 !important;}
  .txt-color--red {color: #D9534F !important;}
  .txt-color--green {color: #5CB85C !important;}

/* Text align */
  .txt-uppercase {text-transform: uppercase;}
  .txt-right {text-align: right; display:block;}
  .txt-center {text-align: center; display:block;}

/* Buttons */
  [class*="btn-style--"] {
      font-family: 'Arimo', sans-serif;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5;
      text-decoration: none;
      color: #ffffff !important;
      vertical-align: middle;
      text-align: center;
      position: relative;
      z-index: 1;
      display: inline-block;
      overflow: hidden;
      padding: 0.25rem 0.5rem;
      min-width: 6rem;
      background-color: #00BCD4;
      border: 1px solid transparent;
      border-radius: 0.35rem;
      -webkit-border-radius: 0.35rem;
      -moz-border-radius: 0.35rem;
      -ms-border-radius: 0.35rem;
      -o-border-radius: 0.35rem;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
  }
  [class*="btn-style--"]:hover {color: #00BCD4 !important; background-color: transparent !important; border-color: #00BCD4;}
  .btn-style--blue {background-color: #2196F3;}
  .btn-style--blue:hover {color: #2196F3 !important; border-color: #2196F3;}
  .btn-style--red {background-color: #D9534F;}
  .btn-style--red:hover {color: #D9534F !important; border-color: #D9534F;}
  .btn-style--green {background-color: #5CB85C;}
  .btn-style--green:hover {color: #5CB85C !important; border-color: #5CB85C;}

  /* Display flex */
  .tdl-flex {display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
  .tdl-flex--wrap {-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
  .tdl-flex--align-center {-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
  .tdl-flex--align-start {-webkit-box-align:start;-webkit-align-items:flex-start; -moz-box-align:start;-ms-flex-align:start;align-items:flex-start;}
  .tdl-flex--align-end {-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end;}
  .tdl-flex--align-stretch {-webkit-box-align: stretch;-webkit-align-items: stretch;-ms-flex-align: stretch;align-items: stretch;}
  .tdl-flex--justify-space-between {
      -webkit-box-pack:justify;-webkit-justify-content:space-between; -ms-flex-pack:justify;justify-content:space-between;
  }
  .tdl-flex--justify-center {
      -webkit-box-pack:center;-webkit-justify-content:center; -moz-box-pack:center;-ms-flex-pack:center;justify-content:center;
  }
  .tdl-flex--justify-end {
      -webkit-box-pack:end;-webkit-justify-content:flex-end; -moz-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;
  }
  .tdl-flex--column {
      -webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;
      -moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;
  }

  .wt-100 {width: 100%;}
  .ht-100 {height: 100%;}



  /****************************
  * General style
  *****************************/
  .main-container {position: relative; width: 100%; max-width: 1440px; margin: 0 auto; padding: 2.5rem;}
  .main-container > div[class*="_task-wrap"] {
    width: 50%;
    border: 1px solid #000000;
  }
  .main-container > [class*="_task-wrap"]:first-child {
    border-right: none;
  }
  .main-container > [class*="_task-wrap"] > [class*="_task-inner"] {
    padding: 3.5rem;
  } 
  .main-container > [class*="_task-wrap"] > [class*="_task-inner"] > [class*="_task-header"] {
    margin-bottom: 3.5rem;
  } 

  .btn-group > [class*="btn-style--"] {
    margin-left: 1rem;
  }


  /****** AddTask ******/



  /****** DisplayTask ******/
  /*** Search ***/
  .search-wrap {
    margin-bottom: 1.5rem;
  }

  /*** TaskList ***/
  .task_list-wrap {
      margin-bottom: 3rem;
  }

  /*** TaskItem ***/
  .task_item-wrap:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .task_item-inner {
    padding: 1rem;
    border: 1px solid #000000;
  }
  .task_item-wrap .heading label {
    padding-left: 0.5rem;
  }

  /*** BulkAction ***/
  .bulk-action-wrap {
    background-color: #E0E0E0;
    padding: 1.25rem 1.5rem;
    border-top: 1px solid #000000;
  }
  .bulk-action-wrap .btn-group > [class*="btn-style--"] {
    padding: 0.35rem 0.7rem;
    min-width: 7rem;
  }
  
  

  /****** TaskForm ******/
  .custom-form .form-group:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .custom-form .form-group > label {
    display: inline-block;
    margin-bottom: 0.35rem;
    font-size: 0.875rem;
    font-weight: 700;
  }
  /* custom-form > input, textarea, select */
.custom-form input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.custom-form textarea, .custom-form select {
    width:100%;
    height:2rem;
    line-height:2rem;
    background-color:transparent;
    border:1px solid #BDBDBD;
    padding:0.25rem 0.6rem;
    text-indent: 0;
    font-family: 'SourceSansPro', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: #000000;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    -webkit-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
.custom-form select, .custom-form textarea {
    border-color: #000000;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.custom-form textarea {line-height:normal; height: 8rem; padding:0.6rem; text-indent:0;}
.custom-form input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):hover,
.custom-form textarea:hover, .custom-form select:hover,
.custom-form input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus,
.custom-form textarea:focus, .custom-form select:focus {box-shadow: 0 7px 12px -7px #BDBDBD;}
/* custom-form > placeholder */
.custom-form ::-webkit-input-placeholder {font-family: 'SourceSansPro', sans-serif; font-size: 0.875rem; font-weight: 400; color: #333333}
.custom-form ::-moz-placeholder {font-family: 'SourceSansPro', sans-serif; font-size: 0.875rem; font-weight: 400; color: #333333}
.custom-form :-ms-input-placeholder {font-family: 'SourceSansPro', sans-serif; font-size: 0.875rem; font-weight: 400; color: #333333}
.custom-form :-moz-placeholder {font-family: 'SourceSansPro', sans-serif; font-size: 0.875rem; font-weight: 400; color: #333333}
.custom-form .form-group:hover ::-webkit-input-placeholder {color: #BDBDBD;}
.custom-form .form-group:hover ::-moz-placeholder {color: #BDBDBD;}
.custom-form .form-group:hover :-ms-input-placeholder {color: #BDBDBD;}
.custom-form .form-group:hover :-moz-placeholder {color: #BDBDBD;}

.custom-form .form-footer {
    margin-top: 2.5rem;
}
.custom-form .form-footer > [class*="btn-style--"] {
   padding: 0.35rem 0.7rem;
   min-width: 7rem;
   font-size: 1rem;
}


  /****************************
  * Responsive
  ****************************/
  @media only screen and (max-width: 1200px){
    body {font-size: 14px;}
    h1 {font-size: 35px;}
    h2 {font-size: 30px;}
    h3 {font-size: 25px;}
    h4 {font-size: 20px;}
    h5 {font-size: 16px;}
    h6 {font-size: 14px;}
    .main-container {padding: 1.5rem;}
  }

  @media only screen and (max-width: 767px){
    h1 {font-size: 32px;}
    h2 {font-size: 28px;}
    h3 {font-size: 24px;}
  }

  @media only screen and (max-width: 580px){

  }
  
  /* END MY STYLE
     ========================================================================== */