/****************************
 * Reset CSS
 *
 * Modified from Normalize.css to provide cross-browser consistency and a smart
 * default styling of HTML elements.
 *
 * @see http://git.io/normalize
*****************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
a:focus,
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
mark {
    background: #66c18c;
    color: #fff; display: inline-block; padding: 0 3px;
}
code,
kbd,
pre,
samp {
    font-size: 1em;
    -webkit-hyphens: none;
    -moz-hyphens:    none;
    -ms-hyphens:     none;
    hyphens:         none;
}
pre {
    color: #666;
    font-size: 1em;
    margin: 20px 0;
    overflow: auto;
    padding: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
blockquote,
q {
    -webkit-hyphens: none;
    -moz-hyphens:    none;
    -ms-hyphens:     none;
    hyphens:         none;
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}
blockquote {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    margin: 24px 40px;
}
blockquote blockquote {
    margin-right: 0;
}
blockquote cite,
blockquote small {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}
blockquote em,
blockquote i {
    font-style: normal;
    font-weight: 300;
}
blockquote strong,
blockquote b {
    font-weight: 400;
}
small {
    font-size: smaller;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0; display: block;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
    white-space: normal;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}
button,
input {
    line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
del {
    color: #333;
}
ins {
    background: #fff9c0;
    text-decoration: none;
}
hr {
    background: #a6b2b4;
    border: 0;
    height: 1px;
    margin: 0 0 18px;
}
a {text-decoration:none;}

/****** Remove tap highlight & style default on iOS ******/
body.safari input, body.safari textarea, body.safari button, body.safari select, body.safari label, body.safari a {
    -webkit-tap-highlight-color: transparent; -webkit-appearance: none;
}



/* MY STYLE
   ========================================================================== */

  /* Global */
  html, body {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
  }
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'SourceSansPro', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    /* background-color: rgba(0,31,30,1); */
  }
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    word-break: break-word;
  }
  a, button {cursor: pointer; color:#ffffff; -webkit-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
  p a {text-decoration: none; color: #000000;}
  p a:hover {text-decoration: none; color: #BDBDBD; outline: 0;}
  
  /* Headings */
  h1,h2,h3,h4,h5,h6 {
      color: #000000; margin-bottom: 25px; font-family: 'SourceSansPro', sans-serif; font-weight: 700; line-height: 1.25;
  }
  h1 {font-size: 40px;}
  h2 {font-size: 35px;}
  h3 {font-size: 30px;}
  h4 {font-size: 25px;}
  h5 {font-size: 20px;}
  h6 {font-size: 16px;}
  hr {height: 0; border-bottom: 1px solid #BDBDBD; background: none; margin-bottom: 25px;}



/****************************
  * Predefined classes
****************************/
/* Text colors & fonts */
  .txt-color--black {color: #000000 !important;}
  .txt-color--white {color: #ffffff !important;}
  .txt-color--darkGrey {color: #333333 !important;}
  .txt-color--lightGrey {color: #BDBDBD !important;}
  .txt-color--aqua {color: #00BCD4 !important;}
  .txt-color--blue {color: #2196F3 !important;}
  .txt-color--red {color: #D9534F !important;}
  .txt-color--green {color: #5CB85C !important;}

/* Text align */
  .txt-uppercase {text-transform: uppercase;}
  .txt-right {text-align: right; display:block;}
  .txt-center {text-align: center; display:block;}

/* Buttons */
  /* a.btn-style--aqua, a.btn-style--blue, a.btn-style--red, a.btn-style--green {} */
  [class*="btn-style--"] {
      font-family: 'Arimo', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      text-decoration: none;
      color: #ffffff !important;
      vertical-align: middle;
      text-align: center;
      position: relative;
      z-index: 1;
      display: inline-block;
      overflow: hidden;
      padding: 5px 12px;
      min-width: 100px;
      background-color: transparent;
      border: none;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
  }
  [class*="btn-style--"]::before, [class*="btn-style--"]::after {
      content: "";
      position: absolute;
      z-index: -2;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      background-color:#00BCD4;
      -webkit-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -o-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -ms-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  [class*="btn-style--"]::after {left: 50%;}
  [class*="btn-style--"]:hover {color: #00BCD4 !important;}
  [class*="btn-style--"]:hover::before {left: 50%; background-color:#ffffff;}
  [class*="btn-style--"]:hover::after {left: 0; background-color:#ffffff;}
  a.btn-style--blue::before, a.btn-style--blue::after {background-color: #2196F3;}
  a.btn-style--blue:hover {color: #2196F3 !important;}
  a.btn-style--red::before, a.btn-style--red::after {background-color: #D9534F;}
  a.btn-style--red:hover {color: #D9534F !important;}
  a.btn-style--green::before, a.btn-style--green::after {background-color: #5CB85C;}
  a.btn-style--green:hover {color: #5CB85C !important;}

  /* Lists */
  ul.custom-ul {list-style: none; margin: 0;}
  ul.custom-ul > li {padding: 0 0 0 2.7em; position: relative;}
  ul.custom-ul > li:not(:last-child) {margin-bottom: 20px;}
  ul.custom-ul > li::before, ul.custom-ul > li::after {
      content: ""; position: absolute; top: 0.54em; left: 0; background-color: #333333; width: 1em; height: 0.18em;
      -webkit-transform: skew(54deg, 0);-ms-transform: skew(54deg, 0);transform: skew(54deg, 0);
  }
  ul.custom-ul > li::after {margin-top: 0.18em; -webkit-transform: skew(-54deg, 0);-ms-transform: skew(-54deg, 0);transform: skew(-54deg, 0);}

  /* Display flex */
  .tdl-flex {display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
  .tdl-flex--wrap {-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
  .tdl-flex--align-center {-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
  .tdl-flex--align-start {-webkit-box-align:start;-webkit-align-items:flex-start; -moz-box-align:start;-ms-flex-align:start;align-items:flex-start;}
  .tdl-flex--align-end {-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end;}
  .tdl-flex--align-stretch {-webkit-box-align: stretch;-webkit-align-items: stretch;-ms-flex-align: stretch;align-items: stretch;}
  .tdl-flex--justify-space-between {
      -webkit-box-pack:justify;-webkit-justify-content:space-between; -ms-flex-pack:justify;justify-content:space-between;
  }
  .tdl-flex--justify-center {
      -webkit-box-pack:center;-webkit-justify-content:center; -moz-box-pack:center;-ms-flex-pack:center;justify-content:center;
  }
  .tdl-flex--justify-end {
      -webkit-box-pack:end;-webkit-justify-content:flex-end; -moz-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;
  }
  .tdl-flex--column {
      -webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;
      -moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;
  }



  /****************************
  * General style
  *****************************/
  .main-container {position: relative; width: 100%; max-width: 1440px; margin: 0 auto; padding: 40px;}



  /****************************
  * Responsive
  ****************************/
  @media only screen and (max-width: 1200px){
    body {font-size: 14px;}
    h1 {font-size: 35px;}
    h2 {font-size: 30px;}
    h3 {font-size: 25px;}
    h4 {font-size: 20px;}
    h5 {font-size: 16px;}
    h6 {font-size: 14px;}
    [class*="btn-style--"] {font-size: 12px;}
    ul.custom-ul > li {padding: 0 0 0 2.2em;}

    .main-container {padding: 20px;}
  }

  @media only screen and (max-width: 767px){
    h1 {font-size: 32px;}
    h2 {font-size: 28px;}
    h3 {font-size: 24px;}
  }

  @media only screen and (max-width: 580px){

  }
  
  /* END MY STYLE
     ========================================================================== */